body{
    padding:0px;
    margin:0px;
    background-color:#0E0B16;
    color:#4717F6;
    font-size:25px;
}

h1{
    color:#A239CA;
    font-size:50px;
    text-align:center;
}

h2{
    color:#A239CA;
    font-size:40px;
    background-color:#E7DFDD;
    width:fill;
    text-align:center;
    padding:50px;
}

legend{
    background-color:#E7DFDD;
    z-index:1;
}

fieldset{
    border: 10px #E7DFDD solid;
    padding:1vw;
}

iframe{
    margin-left:auto;
    width:99vw;
    z-index:1;
}

.section{
    border: 10px #E7DFDD solid;
}

#intro{
    width:45vw;
    background-color:#241f30;
}

.textIntro{
    margin-left:auto;
    margin-right:auto;
    width:30vw;
}

#logo{
    width:20vw;
    z-index:1;
}

#logoContainer{
    float:right;
    width:50vw;
    height:100vh;
}

#imageContainer{
    display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
}

canvas{
    position:absolute;
    left:50px;
}